<launch>

  <arg name='node_params_path' default='$(find multirotor_controller)/config/node_params.yaml'/>

  <group ns='multirotor_controller'>
    <rosparam file='$(arg node_params_path)' command='load'/>

    <node pkg='multirotor_controller' name='state_estimator_truth' type='state_estimator_truth_node' output='screen'/> <!-- TODO: 状態推定 -->
    <node pkg='multirotor_controller' name='controller' type='controller_node' output='screen'/>
  </group>

</launch>
